<div class="homepage-info-section">
    {{ content.field_hs_title }}

    <div class="homepage-info-topics">
        <div class="info-topic">
            <i class="fa-solid fa-calendar-days"></i>
            {{- content.field_hs_topics[0] -}}
        </div>

        <div class="info-topic">
            <i class="fa-solid fa-briefcase"></i>
            {{- content.field_hs_topics[1] -}}
        </div>

        <div class="info-topic">
            <i class="fa-solid fa-heart-pulse"></i>
            {{- content.field_hs_topics[2] -}}
        </div>

        <div class="info-topic">
            <i class="fa-solid fa-car"></i>
            {{- content.field_hs_topics[3] -}}
        </div>
    </div>
</div>