<div class="navbar-sublink">
  {{ content.field_sublink_image }}
  <div class="navbar-sublink-text">
    <h4>{{ content.field_sublink_title }}</h4>
    <p>{{ content.field_sublink_summary }}</p>
    {{ content.field_sublink_link }}
  </div>
</div>
{# {{ dump() }} #}
