<div class="flex flex-col w-full mx-auto">
  <h1 class="text-bold text-lg">{{ main_msg }}</h1>
  <p>{{ sub_msg }}</p>
  <a href="{{ directs_to }}">{{ label }}</a>
  <img src={{ img_path }} alt={{ "Muy obrigado" | t }}>
</div>
