<form
  {{
  attributes.addClass("custom-content-form")
  }}
  {#
  action="{{ element['#action'] }}"
  method="{{ element['#method'] }}"
  id="{{ element.form_id['#value'] }} "
  #}
>
  {{ element.form_id }}
  {{ element.form_build_id }}

  <div class="flex flex-col mb-6">
    <div
      class="flex rounded border-2 border-dashed my-4 p-11 items-center space-x-4"
    >
      <img src="{{ file_url(element['#banner_img_path']) }}" alt="Teste" />
      {{ element.field_gh_cover_image }}
    </div>

    <div class="flex flex-col bg-slate-100 p-4 rounded-md">
      <div class="flex items-center space-x-2">
        <i class="fa-solid fa-circle-info"></i>
        <h3 class="font-bold">{{ "Upload image" | t }}</h3>
      </div>
      <p class="pl-6">
        {{
          "Al enviar imágenes, asegúrate de que estén en los formatos JPEG o PNG, y que no excedan los 60MB. Las dimensiones deben estar entre 1080x1080 píxeles (mínimo) y 1080x1080 píxeles (máximo), con una resolución de al menos 72 DPI."
            | t
        }}
      </p>
    </div>
  </div>

  <h2>{{ "Datos de la buena práctica" | t }}</h2>

  {{ element.title }}

  <span class="spacer"></span>

  {{ element.field_gh_context_summary }}

  {{ element.field_gh_description }}

  <div class="form-card">
    <h2>{{ "Resultados" | t }}</h2>
    <span>{{ "(Opcional)" | t }}</span>
    <hr />
    {{ element.field_gh_results }}
  </div>

  <div class="form-card">
    <h2>{{ "Lecciones aprendidas" | t }}</h2>
    <span>{{ "(Opcional)" | t }}</span>
    <hr />
    {{ element.field_gh_learnings }}
  </div>

  <div class="form-card">
    <h2>{{ "Puntos de contacto" | t }}</h2>
    <hr />
    {{ element.field_gh_contact_points }}
  </div>

  <div class="form-card">
    <h2>{{ "Resumen de plan de despliegue y/o metodología " | t }}</h2>
    <span>{{ "(Opcional)" | t }}</span>
    <hr />
    {{ element.field_gh_deployment_plan }}
  </div>

  <div class="form-card">
    <h2>{{ "Tus Dados" | t }}</h2>
    <hr />
    <div class="form-grid">
      {{ element.field_gh_author_name }}
      {{ element.field_gh_author_nickname }}
      {{ element.field_gh_author_phone }}
      {{ element.field_gh_author_email }}
    </div>
  </div>

  {{ element.field_actor_partner }}
  {{ element.field_gh_image_roll }}
</form>
